@import url("../../styles/colors.css");
@import url("../../styles/fonts.css");
@import url("../../styles/width.css");
.comments {
  display: grid;
  gap: 3rem;
  width: 90%;
  max-width: var(--max-width);
  text-align: center;
  padding-bottom: 2rem;
  margin: 0 auto;
}

.comments-text {
  display: grid;
  gap: 1.4rem;
}

.comments-paragraph {
  max-width: 21.875rem;
  font-size: var(--font-md);
  color: var(--third-dark-blue);
  margin: 0 auto;
}

.comments-container {
  display: grid;
  gap: 4rem;
}

@media (min-width: 1023px) {
  .comments {
    gap: 6rem;
    padding-top: 3rem;
    padding-bottom: 12rem;
  }
  .comments-container {
    grid-template-columns: 350px 400px;
    justify-content: center;
    gap: 5rem;
  }
}
