@import url("../../styles/colors.css");
@import url("../../styles/fonts.css");
@import url("../../styles/width.css");
.info {
  display: grid;
  gap: 2.5rem;
  width: 90%;
  max-width: var(--max-width);
  font-size: var(--font-md);
  color: var(--white);
  padding: 2rem 0;
  margin: 0 auto;
}

.info-title {
  font-size: 1rem;
  font-weight: 600;
}

.info-card {
  display: grid;
  justify-items: center;
  gap: 6px;
  max-width: 279px;
  text-align: center;
  margin: 0 auto;
}

.info-icon {
  width: 2.5rem;
  height: 2.5rem;
}

.info-text {
  font-size: var(--font-sm);
  text-wrap: pretty;
}
.info-text-last {
  margin-bottom: 12px;
}

@media (min-width: 1023px) {
  .info {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 200px;
    align-content: center;
    height: 416px;
    gap: 1.5rem;
    padding: 2rem 0;
  }
}
