@import url("../../styles/colors.css");
@import url("../../styles/fonts.css");
@import url("../../styles/width.css");

.footer-container {
  display: grid;
  grid-template-areas:
    "product corporative"
    "contact contact";
  width: 95%;
  max-width: var(--max-width);
  padding-top: 50px;
  margin: 0 auto;
  padding-bottom: 120px;
}

.footer-contactLocation {
  grid-area: contact;
  padding-top: 1.3rem;
}

.footer-product {
  grid-area: product;
}
.footer-corporative {
  grid-area: corporative;
}

.footer-list {
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.footer-item {
  font-size: var(--font-md);
}

.footer-itemContact {
  display: flex;
  gap: 10px;
}
.footer-listFloat {
  position: absolute;
  top: -30px;
  left: calc(50% - 144px);
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 60px;
  width: 90%;
  max-width: 288px;
  font-size: var(--font-md);
  padding: 0 7px;
  border-radius: 6px;
  background-color: var(--third-dark-blue);
}

.footer-listFloat .footer-item:first-child {
  display: none;
}
.footer-figure {
  display: none;
}

.footer-item:first-child {
  font-weight: 600;
  margin-bottom: 6px;
}

.footer-icon {
  width: 20px;
}

.footer-buttonContent {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 80px;
  border-top: 1px solid var(--white);
}
.footer-buttonContent div {
  height: 100%;
  width: 90%;
  max-width: 1300px;
  display: grid;
  gap: 1rem;
  font-size: var(--font-md);
  text-align: center;
  padding: 8px;
  margin: 0 auto;
}

@media (min-width: 767px) {
  .footer-container {
    grid-template-areas: "contact product corporative";
    width: 75%;
    margin: 0;
    margin-left: auto;
    padding-bottom: 100px;
  }

  .footer-contactLocation {
    padding-top: 0;
  }
  .footer-listFloat {
    position: static;
    align-items: flex-start;
    gap: 2px;
    height: max-content;
    width: unset;
    padding: 0;
    padding-top: 1.4rem;
    background-color: transparent;
  }

  .footer-listFloat .footer-icon {
    display: none;
  }
  .footer-listFloat .footer-item:first-child {
    display: block;
  }

  .footer-figure {
    position: absolute;
    left: 4rem;
    top: calc(40% - 60px);
    display: block;
    width: 120px;
    height: 120px;
  }

  .footer-logo {
    border-radius: 50%;
  }
  .footer-buttonContent {
    height: 80px;
  }
  .footer-buttonContent div {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 50px;
    align-content: center;
    align-items: center;
  }
}
