@import url("../../styles/colors.css");
@import url("../../styles/fonts.css");
@import url("../../styles/width.css");
.welcome {
  display: grid;
  gap: 3.6rem;
  grid-template-rows: minmax(462px, 465px) minmax(379px, 380px);
  width: 90%;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 4rem 0;
}

.welcome-info {
  display: grid;
  gap: 1rem;
  text-align: center;
}

.welcome-img {
  width: 100%;
  max-width: 20rem;
  max-height: 500px;
  margin: 0 auto;
}

.welcome-title {
  align-self: flex-end;
  font-size: var(--font-2lg);
  color: var(--first-dark-blue);
}

.welcome-text {
  max-width: 420px;
  white-space: normal;
  font-size: var(--font-md);
  line-height: 24px;
  text-wrap: pretty;
  overflow-wrap: break-word;
  color: var(--blue);
  margin: 0 auto;
}

@media (min-width: 767px) {
  .welcome-img {
    max-width: 21rem;
  }
  .welcome-text {
    line-height: 26px;
  }
}
@media (min-width: 1023px) {
  .welcome {
    grid-template-columns: repeat(2, minmax(460px, 470px));
    grid-template-rows: minmax(500px, 520px);
    justify-content: center;
    align-content: center;
    gap: 1rem;
    padding: 6rem 0;
    min-height: 100vh;
  }
  .welcome-info {
    align-self: center;
    grid-template-rows: 30px 300px 50px;
  }
  .welcome-img {
    align-self: center;
  }
}
