@import url("../../styles/colors.css");
.welcome {
  display: grid;
  gap: 2rem;
  width: 90%;
  max-width: 1300px;
  margin: 3rem auto;
}

.welcome-info {
  display: grid;
  gap: 1rem;
  text-align: center;
}

.welcome-img {
  width: 100%;
  max-width: 20rem;
  margin: 0 auto;
}

.welcome-title {
  font-size: 1.4rem;
  color: var(--first-dark-blue);
}

.welcome-text {
  font-size: 0.8125rem;
  text-wrap: pretty;
  color: var(--blue);
}
